@charset "utf-8";
/* CSS Document */
body {
	font-family:"微软雅黑"
}
.hide {
	display:none;
}
.show {
	display:block;
}
.gogo hover {
	opacity:0.6;	
}

.M-top {
	background:#fff;
	height:80px;
	line-height:80px;
	width:1200px;
	z-index:9997;
	border-bottom: 1px solid #DF6064;
	margin-left:auto;
	margin-right:auto;
}
.M-top-show {
	position:fixed;
	top:-255px;
}
.M-logo {
	position:relative;
	z-index:99999 !important;
}
.M-logo a img {
	position:absolute;
	left:20px;
	top:13px;
	z-index:999999 !important;
}
.m_wnews {
	width:268px;
	position:relative;
	left:20px;
	top:0px;
}
.M-top-right {
	height:70px;
	line-height:70px;
}
.M-nav {
	height:70px;
	line-height:70px;
}
.M-nav ul li {
	float:left;
	display:block;
}
.M-nav ul li a {
	float:left;
	font-size:16px;
	font-family:"Segoe UI", "微软雅黑";
	color:#c6c6c6;
	height:70px;
	line-height:70px;
	display:block;
}
.M-nav ul li a:hover {
	color:#ffffff;
}
.M-nav ul li a.cur div p {
	margin-top:-20px !important;
}
.header_lx {
	display: inline-block;
	float: left;
	padding-top: 7px;
	height: 24px;
}
.header_lx a {
	position:relative;
	display:inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
.header_lx b {
	display:inline-block;
	background:url(../img/title-img.png) no-repeat;
	position:relative;
	z-index:2;
	top:0;
	left:0;
}
.header_lx b.header_lx1 {
	width:24px;
	height:24px;
	background-position:0px 0px;
}
.header_lx b.header_lx2 {
	width:24px;
	height:24px;
	background-position:-24px 0px;
}
.header_lx b.header_lx3 {
	width:24px;
	height:24px;
	background-position:-48px 0px;
}
.header_lx a span {
	height:24px;
	line-height:24px;
	text-indent: 30px;
	background:#CCCCCC;
	position:absolute;
	z-index:1;
	top:0px;
	left:0;
	border-radius:10px;
	min-width:125px;
	font-size:12px;
	color:#000;
}
.header_lx a span.hide {
	display:none;
}
.lx_width {
	width:125px;
}
/* menu */
.menu ul {
	height:70px;
	margin-right:20px;
}
#topcontrol {
	top:63px !important;
	z-index:9995;
	height:54px !important;
}
#menu1 ul {
	padding: 0;
}
#menu1 ul li a {
	overflow: hidden;
	float: left;
	height: 20px;
	width: 100px;
	display: block;
	text-align: center;
	padding-bottom:25px;
	padding-top:25px;
	cursor:pointer;
}
#menu1 ul li a, #menu1 ul li a span {
	text-decoration: none;
	clear: both;
	display:block;
	color:#333;
	font-family:"Segoe UI";
	font-size:14px;
	height:20px;
	line-height:20px;
	display:block;
}
#menu1 ul li a div {
	color:#ffffff;
	font-family:"微软雅黑";
}
#menu1 ul a div {
	float:left;
	width:100px;
	height:20px;
	display:block;
	overflow:hidden;
}
#menu1 ul li a font {
	color:#000;
	font-family:"微软雅黑";
	display:block;
}
#menu1 ul li a span {
}
.Brand {
	text-align:center;
	display:block;
	width:165px;
	margin-right:90px;
	position:relative;
	left:0px;
}
.ui {
	text-align:center;
	display:block;
	width:165px;
	position:relative;
	left:0px;
}
.foot {
	background:url(../img/foot-bj.png) center;
	width:100%;
	height:313px;
	position:relative;
	top:0px;
	left:0px;
	padding-top:137px;
}

 .foot-content>span.fl {
 width:216px;
}
.foot-content2>span.fl {
 width:216px;
}
.foot-content>span>div>span>div {
 color:#000000 !important;
font-family: "微软雅黑" !important;
}
.foot-content2>span>div>span>div {
 font-family: "微软雅黑" !important;
font-size: 20px !important;
color: #d3d3d3;
}
.foot-content>span>div>span>div a {
 color:#000000 !important;
font-family: "微软雅黑" !important;
 font-size: 20px !important;
}
.foot-content2>span>div>span>div a {
 font-family: "微软雅黑" !important;
font-size: 20px !important;
color: #d3d3d3 !important;
}
 .foot-content {
 width:920px;
 margin:0 auto;
 height:100px;
 line-height:100px;
 padding-bottom:25px;
 padding-top:53px;
}
.foot-content .foot-content-mid {
position: relative;
}
.wx-img {
position: absolute;
top:-205px;
left: 75px;
}
.foot-content>div {
 margin-left:69px !important;
}
.foot-content span {
 font-family:"微软雅黑";
 font-size:20px;
 color:#000000;
}
.foot-content span.m_wnews {
font-size: 16px;
}
.foot-content span.m_wnews span {
font-size: 16px;
}
.QQ-ico {
 background:url(../img/QQ-ICO.png) no-repeat;
 width:100px;
 height:100px;
 display:block;
 float:left;
 margin-right:25px;
}
.QQ-ico:hover {
 background:url(../img/QQ-ICO-HOVER.png) no-repeat;
 width:100px;
 height:100px;
 display:block;
}
.WX-ico {
 background:url(../img/WX-ICO.png) no-repeat;
 width:100px;
 height:100px;
 display:block;
 float:left;
 margin-right:25px;
}
.WX-ico:hover {
 background:url(../img/WX-ICO-HOVER.png) no-repeat;
 width:100px;
 height:100px;
 display:block;
}
.WB-ico {
 background:url(../img/WB-ICO.png) no-repeat;
 width:100px;
 height:100px;
 display:block;
 float:left;
}
.WB-ico:hover {
 background:url(../img/WB-ICO-HOVER.png) no-repeat;
 width:100px;
 height:100px;
 display:block;
}
.foot-font {
 font-family:"微软雅黑";
 font-size:14px;
 color:#b2b2b2;
 display:block;
 text-align:center;
}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
display: block;
}
mark, rp, rt, ruby, summary, time {
display: inline
}


/*返回顶部*/
.scroll-top {
width:80px;
height:80px;
background:url(./scroll-top.png) no-repeat;
color:#fff;
line-height:80px;
text-align:center;
position:fixed;
right:30px;
bottom:50px;
cursor:pointer;
font-size:14px;
}




/*work*/
.page-work {
 width:100%;
 height:100%;
 text-align:center;
 padding-top:50px;
 background:#fff;
}
.page-top-title {
 width:100%;
 text-align:center;
 margin-bottom:93px;
}
.page-top-title span.title {
 font-size:45px;
 color:#ffffff;
 display:block;
 font-weight:300;
 font-family:"微软雅黑";
 height:55px;
}
.page-top-title font {
 font-size:20px;
 color:#828282;
 display:block;
 font-family:"微软雅黑";
}
.page-top-title {
 position:relative;
}
.page-top-title span.x {
 width:140px;
 height:2px;
 display:block;
 background:#ffffff;
 position:absolute;
 left:50%;
 margin-left:-70px;
 top:98px;
}
.work-table-content {
 text-align:center;
}
.page-table-nav {
 text-align:center;
 margin:0 auto;
 width:638px;
 padding-bottom:60px;
}
.page-table-nav ul li {
 float:left;
 width:115px;
 height:35px;
 margin-right: 10px;
 line-height: 50px;
 text-align: center;
}
.page-table-nav ul li a {
 float:left;
 font-size:18px;
 color:#4a4a4a;
 display:block;
 font-family:"微软雅黑";
 cursor:pointer;
 width:115px;
 height:50px;
 background:url(./work-li.png) 5px 40px no-repeat;
}
.page-table-nav ul li a:hover {
 float:left;
 font-size:18px;
 color:#4a4a4a;
 display:block;
 font-family:"微软雅黑";
 width:115px;
 height:50px;
 background:url(./work-li-cur.png) 5px 40px no-repeat;
}
.page-table-nav ul li.cur a {
 background:url(./work-li-cur.png) 5px 40px no-repeat;
 float:left;
 font-size:18px;
 color:#4a4a4a;
 display:block;
 font-family:"微软雅黑";
 width:115px;
 height:50px;
}
 #brand {
 margin:0 auto;
 padding-bottom:117px;
}
#brand .bd-box {
 overflow:hidden;
 display:none;
/*padding-left:55px;
	padding-right:55px;*/
}
.bd-box {
 text-align:left;
}
#brand .bd-box li {
 display:inline-block;
 width:335px;
 float:left;
 height:310px;
 overflow:hidden;
 position:relative;
 border:3px solid #fff;
 margin-bottom: 10px;
}
#brand .bd-box li span.work-img-bg {
position: absolute;
top: 0;
left: 0;
display: block;
width: 335px;
height: 238px;
z-index: 2;
}
#brand .bd-box li span.work-img {
position: absolute;
top: 0;
left: 0;
display: block;
width: 335px;
height: 238px;
z-index: 1;
}
#brand .bd-box li img {
width:335px;
height: 238px;
}
 #brand .bd-box li>span {
 width:335px;
 height:238px;
 display:block;
 float:left;
}
 .page-work-bottom {
 background:url(../images/page-work-bj.png) center;
 width:100%;
 height:100px;
 position:relative;
}
.page-work-bottom1 {
 background:url(../images/page-work-bottom1.png) center;
 width:100%;
 height:100px;
 position:relative;
}
 .page-consult {
 height:150px;
 width:100%;
 padding-top:80px;
 text-align:center;
}

/*header-logo*/
.M-logo {
position: relative;
}
.M-logo .logo-bg {
position: absolute;
left:200px;
top:19px;
width:174px;
height:36px;
line-height: 36px;
background:url(../images/logo-bg.png) no-repeat;
z-index: 10000;
font-size: 14px;
color: #fff;
text-align: center;
}
 .eq-apb-main {
line-height:26px;
padding-top:2px;
color:#999;
border-bottom:1px solid #ddd;
}
.eq-apb-main span {
margin:0 8px;
font-family:"宋体";
}
.public-w {
margin:0 auto;
max-width:1200px;
}
.public-a a {
color:#35a4de;
}
.public-a a:hover {
color:#35a4de;
text-decoration:underline;
}
.public-a9 a {
color:#999;
}
.public-a9 a:hover {
color:#E76068;
}
.page-consult span.page-consult-title {
display: block;
display: block;
height: 50px;
font-size: 36px;
color: #fff;
margin-top: 0;
}
.page-consult p {
color:#fff;
}
.page-consult span {
font-size: 24px;
color: #fff;
margin-top: 35px;
display: block;
}
 .work-img-con {
height:238px;
display: block;
}
.work-img-abstract {
padding-top: 20px;
text-align: center;
}
.work-img-abstract a {
font-size: 18px;
color: #4a4a4a;
font-family: "微软雅黑"
}
.work-img-abstract a:hover {
color:#E76068;
}
 .page-work-banner {
height: 480px;
background: url(../img/banner.jpg) center no-repeat;
}
 .section {
position:relative;
}
.section-red {
background: #E76068;
}
.expected-con span.title {
display: block;
font-size: 36px;
height: 43px;
line-height: 33px;
padding-top: 65px;
}
.expected-con p {
padding-top:20px;
}




/* 广告页样式 */
 .productsWarp {
padding:34px 0;
}

/*-productsWarp_detail-*/
/*.productsWarp_detail{ width:1200px; margin:0 auto;}*/
.productsWarp_detail {
width:100%;
max-width:1200px;
margin:0 auto;
}
.sectionPro {
height:320px;
position: relative;
border-bottom: 1px solid #ddd;
background: #fff;
overflow: hidden;
_zoom: 1;
}
.sectionPro h3 {
line-height:36px;
font-size:26px;
font-weight:normal;
color:#000;
padding-bottom:15px;
}
.sectionPro p {
width:620px;
line-height:24px;
font-size:14px;
color:#596166;
font-weight:normal;
}

.productsWarp .Detail_Title {
padding:30px 0 40px 0;
height:auto;
border:none;
}
.productsWarp .Detail_Title h1 {
line-height:64px;
font-size:56px;
font-weight:normal;
color:#333333;
text-align:center;
}
.productsWarp .Detail_Title h2 {
font-size:16px;
line-height:50px;
font-weight:normal;
color:#333333;
text-align:center;
}
.productsWarp .Detail_Title .Pro_btn {
width:132px;
text-align:center;
line-height:36px;
margin:0 auto;
display:block;
font-size:14px;
background:#36a5df;
color:#fff;
}
.productsWarp .Detail_Title .Pro_btn:hover {
background:#2f9dd6;
}
 .Product_bd {
overflow:hidden;
padding:30px 0 50px 0;
}
.Product_bd .Features {
width:48%;
float:left;
}
.Product_bd .Inventory {
width:48%;
float:right
}
.Product_bd h3 {
line-height:69px;
color:#000;
font-size:24px;
font-weight:normal;
}
.Product_bd dd, .Product_bd dt {
line-height:36px;
font-size:14px;
color:#666;
display:block;
padding-left:15px;
}
.Product_bd dd {
background:#f2f2f2;
}
/*翻页*/
.green-black { height:30px; margin-top:20px;PADDING-BOTTOM: 10px; PADDING-TOP: 15px; text-align:center;}
.green-black A {PADDING:4px 8px; BACKGROUND:#c1c1c1; COLOR: #fff; MARGIN:0 1px; TEXT-DECORATION: none}
.green-black A:hover {	 BACKGROUND:#71B4DE; color:#fff;}
.green-black A:active { BACKGROUND:#71B4DE; color:#fff;}
.green-black .current { FONT-WEIGHT: bold; color:#fff; BACKGROUND:#71B4DE; background:#DE7171;;}
.green-black SPAN.disabled {PADDING:4px 8px; BACKGROUND:#c1c1c1; MARGIN-RIGHT: 1px; COLOR: #fff;}
.green-black i{ font-family:"宋体";font-size:12px; font-weight:bold;}

/*-mediaCenter-*/
/*.mediaCenter_kv{ height:563px; background:url(../images/mediaCenter_kv.jpg) no-repeat center;}*/
.mediaCenter_kv img { width:100%;}
.about_w920{ width:1200px; margin:0px auto; padding:80px 0; overflow:hidden}
.mediaCenter_warp .about_w920{ overflow:hidden; background:url(../img/menu_gb_05.gif) repeat-y left; padding:0 0 40px 0; margin:40px auto; min-height:620px;}
.mediaCenter_warp .menu_fl{ width:181px; float:left; padding-top:14px;}
.mediaCenter_warp .menu_fl li{ line-height:30px; display:block; margin:6px 0; text-indent:50px; font-size:14px;}
.mediaCenter_warp .menu_fl li a{ color:#666; display:block;}
.mediaCenter_warp .menu_fl li i{ width:6px; height:8px; display:block; background:url(../images/icon_03.png) no-repeat 0 -111px; float:right; margin:10px 22px 0 0; display:none;}
.mediaCenter_warp .menu_fl li.curr a{ background:#eaeaea; color:#E41414;}
.mediaCenter_warp .menu_fl li.curr i{ display:block;}

.mediaCenter_warp .Content_fr{ width:880px; margin-left:40px; float:left;}
.mediaCenter_warp .Content_fr h2{ line-height:48px; padding:22px 0 18px 0; color:#DE7235; font-size:40px; font-weight:normal;}
.mediaCenter_warp .Content_fr h2 .en{font-size:12px; text-transform:uppercase;color:#666; padding-left:12px;}
.mediaCenter_warp .list{ font-size:14px;}
.mediaCenter_warp .list li{ line-height:36px; background:url(../images/dotted.gif) repeat-x bottom; padding:0 6px;}
.mediaCenter_warp .list li span{ float:right;}

.mediaCenter_warp .list .pictu { width:105%;}
.mediaCenter_warp .list .pictu li{ line-height:19px; background:none; padding:0px; width:188px; height:220px; float:left; margin-right:40px;}
.mediaCenter_warp .list .pictu li img { width:188px; height:116px;}
.mediaCenter_warp .list .pictu li p { float:left; clear:both; height:38px; display:block; overflow:hidden}
.mediaCenter_warp .list .pictu li span{ float:left; clear:both; font-size:10px; color:#ccc}

.mediaCenter_warp .ContentDetail{ width:699px; }
.mediaCenter_warp .ContentDetail .title{ padding-bottom:15px; background:url(../images/dotted.gif) repeat-x bottom;}
.mediaCenter_warp .ContentDetail .title h1{ line-height:32px; font-size:18px; color:#333; font-weight:bold;}
.mediaCenter_warp .ContentDetail .title h4{line-height:24px; font-size:14px; color:#666; font-weight:normal;}
.mediaCenter_warp .ContentDetail .text{font-size:14px; line-height:26px; padding:20px 0;}
.mediaCenter_warp .ContentDetail .text p{ padding-bottom:26px;}

.Return{ padding:0 26px; line-height:30px; background:#36a5df; color:#fff; float:right; margin-top:10px;}
.Return:hover{ background:#48b4ec; color:#fff;}

/*轮显*/
#banner{height: 300px;background:#d3d3d3;}
.fade-slidebox{height: 300px;}
.fade-slidebox .fade-content,.fade-slidebox .screen, .fade-slidebox .screen a{width: 100%;height: 300px;overflow: hidden;}
.fade-slidebox .screen a{display: block;}
.fade-slidebox .fade-ul{width: 980px;margin: -30px auto;z-index: 10;position: relative;text-align: center;}
.fade-slidebox .fade-ul li{display: inline-block;*display:inline;zoom:1;*margin-left: 6px;}
.fade-slidebox .fade-ul li a{display: block;width: 14px;height: 14px;background: #000000;}
.fade-slidebox .fade-ul li.hover a{background: #e77b16;}