@charset "utf-8";

/* reset */
body, select, input, button, textarea{font:14px/1.5 \5b8b\4f53, Arial, sans-serif;}
body, h1, h2, h3, h4, h5, h6, ul, ol, li, form, fieldset, p, dl, dt, dd, table, th, td, img, blockquote{margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6{font-size:14px;}
input, button, textarea, img{line-height:normal;}
abbr, acronym, address, cite, q, em, code, var, dfn, ins{font-style:normal;text-decoration:none;border:0}
q:before, q:after{content:""}
ul, ol, li{list-style:none}
label, select, input, button, textarea{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}

input, select { font-size: 14px;}

*{ margin:0; padding:0;}

body, a{color:#333333;}
body{ background:#fcfaf5;font-family:"Microsoft YaHei";}
.fleft  {float:left}
.fright {float:right}
.fclear {clear:both}
.tleft  {text-align:left}
.tright {text-align:right}
.tcenter    {text-align:center}
.vmid   {vertical-align:middle;}
.left{float:left;}
.right{float:right;}
.clear{clear:both; margin:0px; padding:0px; height:0px; font-size:0px;}

/* global */
.main{ width:1000px; margin:0 auto;}

/*--------------phd-------------*/
.phd{ overflow:hidden; }
.phd .top{ overflow:hidden;}
.pcon{background:#f5f5f5;}

.logo{ background:url(../images/logo.png) 0 21px no-repeat; float:left; width:260px; height:118px; text-indent:-9999em;}

.top_nav{ background:#d40b07;  overflow:hidden; height:44px; line-height:44px;}
.top_nav ul{ padding-left:30px;}
.top_nav li{ float:left; text-align:center;}
.top_nav li a{ color:#fff; display:block; padding:0 32px; font-size:16px; margin-right:1px;}
.top_nav li .hover{ background:#faa619;}
.phd .top_nav li .s_hover{background:url(../images/subHover.png) no-repeat center bottom #faa619; text-decoration:none;}
.phd .top_nav li .n_hover{background: none;}

.tool{ float:right;  padding-top:15px;  margin-right:100px; display:inline; font-size:12px;width:410px;}
.tool a{ padding:0 6px; display:inline-block; font-size:12px;}
.tool .quk{ background:url(../images/topbarbg.png) no-repeat right 7px; width:92px;}
.tool .pad,.tool .phone{background:url(../images/topbarbg.png) no-repeat 8px -19px; padding-left:32px;}
.tool .phone{ background-position:1px -54px; padding-left:20px;}

.tool-search {float: right; display: inline; width: 236px; height: 28px; padding: 0 10px; margin: 19px 5px 0 0; background: #d4d8da;}
.tool-search input {float: left; height: 28px; border: 0;}
.tool-search .text {width: 205px; margin-right: 10px; background: #d4d8da; line-height: 28px;}
.tool-search .submit {width: 21px; background: url(../images/icon_search.png) 0 0 no-repeat; cursor: pointer; text-indent: -9999px;}

/*-------------pft------------*/
.pft{ background:#e7e4dc; padding:0 0 75px; overflow:hidden; height:auto;clear: both;}
.mod-cop,.mod-links{ float:left;}
.mod-cop{ padding-left:70px;padding-right:30px;padding-top:31px; display:inline;}
.mod-cop img{}
.mod-links{ padding-left:4px;padding-top:90px; width:540px;}
.mod-links p{ line-height:38px; }
.mod-links p a{ color:#535049;padding-right:25px; font-size:14px;}
.b_line{ border-bottom:1px solid #cac6ba}



.pft-slider {position: relative; width: 540px; overflow: hidden;}
.pft-slider .p-nva {float: left;margin-left:35px}
.pft-slider .p-nva ul {overflow:hidden;width: 550px;}
.pft-slider .p-nva ul li{ height:40px;float: left;display: block;}
.pft-slider .p-nva ul li a {display: block; float: right; width: 70px; padding-right: 5px;font-size:16px;}
.pft-slider .p-copy {font-size:12px;float: left;}


/*-------------pbd-----------*/
.pbd{}

.pbd-news{ background:url(../images/pbd_news.jpg) no-repeat center top; min-height:640px; clear: both; padding-bottom: 5px;}




