@charset "utf-8";
/* CSS Document */
body {
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#ffffff url(../img/background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}

#frame {	

    text-align: center;
	position: relative;
	overflow: visible;
	margin:0 auto;
	border-style:solid;
	border-color:white;
	border-width:15px;
	width: 399px; /* default gallery width */
	height:266px;
}


.product {
	 float:left;
	position: relative;
	overflow: visible;
	margin:0 auto;
	padding:0px;
	width: 399px; /* default gallery width */
	height:266px;/* default gallery height */
	
}

.product ul {
	list-style: none;
	margin:0 auto;
	padding: 0px;
	position: relative;

}
.product ul li {
	position: absolute;
	width: 100%; /*for IE6,7,8*/
	height: auto;  /*for IE6,7,8*/
	zoom: 1;/*for IE6,7,8*/
	top: -11px;
	left: -2px;
}


.product ul li img { 
/*    width:399px;
	height:266px;  */

}

.toolbar{

            position: fixed;/*固定*/
            
            left: 0;
            text-align: center;
            width: 100%;
            z-index: 10000;
            _position:absolute; /* for IE6 */
            _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */
            overflow:visible;

}
.toolbar span{
	margin:2px;
	cursor:pointer;
}
.toolbar span img{
	width:40px;
	height:40px;
}

.glass{

    left: 0;
    text-align: center;
    width: 100%;


}
